.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.ag-theme-quartz {
  width: 80%;
  margin-bottom: 20px;
}

.chat-box {
  width: 80%;
}

.chat-input {
  width: 41%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  height: 72px;
  margin-left: 225px;
}

.ag-theme-quartz {
  /* Changes the color of the grid text */
  --ag-foreground-color: rgb(14, 68, 145);
  /* Changes the color of the grid background */
  --ag-background-color: rgba(241, 247, 255);
  /* Changes the header color of the top row */
  --ag-header-background-color: rgba(228, 237, 250);
  /* Changes the hover color of the row*/
  --ag-row-hover-color: rgba(0, 38, 255, 0.1);
}